In [1]:
#import libraries and create databse files
import sqlite3
conn = sqlite3.connect('company_database.db')
cur = conn.cursor()

In [2]:
#create the first table
cur.execute('''CREATE TABLE company (
                                     company_id INTEGER PRIMARY KEY,
                                     name TEXT);
            ''')

In [3]:
#create the second table
cur.execute(''' CREATE TABLE department(
                                       company_id INTEGER NOT NULL,
                                       dep_id INTEGER NOT NULL,
                                       name TEXT
                                       PRIMARY KEY (company_id, dep_id),
                                       FOREIGN KEY (company_id) REFERENCES company (company_id)
                                       );
            ''')

In [4]:
#create the third table
cur.execute('''CREATE TABLE employee(
                                     company_id INTEGER NOT NULL,
                                     dep_id INTEGER NOT NULL, 
                                     emp_id INTEGER NOT NULL,
                                     name TEXT
                                     mgr_id INTEGER),
                                     PRIMARY KEY (company_id, dep_id, emp_id),
                                     FOREIGN KEY (company_id) REFERENCES company (company_id),
                                     FOREIGN KEY (dep_id) REFERENCES department (dep_id)
                                     );
            ''')

In [5]:
#populating the company table
cur.execute(''' INSERT INTO company (name) VALUES ('Supermarket'),
                                                  ('Dairy'),
                                                  ('Backpack'),
                                                  ('Bike');
            ''')

In [6]:
#populating department table
cur.execute(''' INSERT INTO department (name) VALUES ('Finance'),
                                                  ('HR'),
                                                  ('Marketing'),
                                                  ('Operations'),
                                                  ('IT');
            ''')

In [ ]:
#populating employee table