In [1]:
#import libraries and create databse files
import sqlite3
conn = sqlite3.connect('company_database.db')
cur = conn.cursor()

In [2]:
#create the company table
cur.execute('''CREATE TABLE company (
                                     company_id INTEGER PRIMARY KEY,
                                     company_name TEXT
                                     );
            ''')

In [3]:
#create the department table
cur.execute(''' CREATE TABLE department(
                                       dep_id INTEGER PRIMARY KEY,
                                       company_name TEXT, 
                                       dep_name TEXT
                                       );
            ''')

In [4]:
#create the third table
cur.execute('''CREATE TABLE employee(
                                     company_name TEXT,
                                     dep_name TEXT, 
                                     emp_id INTEGER PRIMARY KEY,
                                     emp_name TEXT,
                                     mgr_id INTEGER
                                     );
            ''')

In [5]:
#I will explain this function later in the tutorial. 
cur.execute('''SELECT * FROM company;''').fetchall()

[]

In [6]:
#populating the company table
cur.execute(''' INSERT INTO company (company_name) VALUES ('Supermarket'),
                                                  ('Sporting Goods'),
                                                  ('Department Store'),
                                                  ('Appliances');
            ''')

In [7]:
#checking to make sure I did it right
cur.execute('''SELECT * FROM company;''').fetchall()

[(1, 'Supermarket'),
 (2, 'Sporting Goods'),
 (3, 'Department Store'),
 (4, 'Appliances')]

In [8]:
#populating department table
cur.execute(''' INSERT INTO department (company_name,dep_name) VALUES ('Supermarket', 'Finance'),
                                                              ('Supermarket', 'HR'),
                                                              ('Supermarket', 'Marketing'),
                                                              ('Supermarket', 'Operations'),
                                                              ('Supermarket', 'IT'),
                                                              ('Sporting Goods', 'Finance'),
                                                              ('Sporting Goods', 'HR'),
                                                              ('Sporting Goods', 'Marketing'),
                                                              ('Sporting Goods', 'Operations'),
                                                              ('Sporting Goods', 'IT'),
                                                              ('Department Store', 'Finance'),
                                                              ('Department Store', 'HR'),
                                                              ('Department Store', 'Marketing'),
                                                              ('Department Store', 'Operations'),
                                                              ('Department Store', 'IT'),
                                                              ('Appliances', 'Finance'),
                                                              ('Appliances', 'HR'),
                                                              ('Appliances', 'Marketing'),
                                                              ('Appliances', 'Operations'),
                                                              ('Appliances', 'IT');
            ''')

In [9]:
cur.execute('''SELECT * FROM department;''').fetchall()

[(1, 'Supermarket', 'Finance'),
 (2, 'Supermarket', 'HR'),
 (3, 'Supermarket', 'Marketing'),
 (4, 'Supermarket', 'Operations'),
 (5, 'Supermarket', 'IT'),
 (6, 'Sporting Goods', 'Finance'),
 (7, 'Sporting Goods', 'HR'),
 (8, 'Sporting Goods', 'Marketing'),
 (9, 'Sporting Goods', 'Operations'),
 (10, 'Sporting Goods', 'IT'),
 (11, 'Department Store', 'Finance'),
 (12, 'Department Store', 'HR'),
 (13, 'Department Store', 'Marketing'),
 (14, 'Department Store', 'Operations'),
 (15, 'Department Store', 'IT'),
 (16, 'Appliances', 'Finance'),
 (17, 'Appliances', 'HR'),
 (18, 'Appliances', 'Marketing'),
 (19, 'Appliances', 'Operations'),
 (20, 'Appliances', 'IT')]

In [10]:
#populating employee table
cur.execute(''' INSERT INTO employee (company_name, dep_name, emp_name, mgr_id) VALUES 
                                                                                  ('Supermarket', 'Finance', 'Jane', 11),
                                                                                  ('Supermarket', 'HR', 'Lola', 12),
                                                                                  ('Supermarket', 'Marketing', 'John', 12),
                                                                                  ('Supermarket', 'Operations', 'Winston', 13),
                                                                                  ('Supermarket', 'IT', 'Sam', 14),
                                                                                  ('Sporting Goods', 'Finance', 'Dev', 20),
                                                                                  ('Sporting Goods', 'HR', 'Harsh', 21),
                                                                                  ('Sporting Goods', 'Marketing', 'Priyanka', 22),
                                                                                  ('Sporting Goods', 'Operations', 'Anjali', 23),
                                                                                  ('Sporting Goods', 'IT', 'Maneet', 24),
                                                                                  ('Department Store', 'Finance', 'Zhang', 30),
                                                                                  ('Department Store', 'HR', 'Lihua', 31),
                                                                                  ('Department Store', 'Marketing', 'Bohai', 30),
                                                                                  ('Department Store', 'Operations', 'Hanhan', 32),
                                                                                  ('Department Store', 'IT', 'Liwei', 33 ),
                                                                                  ('Appliances', 'Finance', 'Jose', 40),
                                                                                  ('Appliances', 'HR', 'Santiago', 41),
                                                                                  ('Appliances', 'Marketing', 'Carlos', 42),
                                                                                  ('Appliances', 'Operations', 'Manuel', 43),
                                                                                  ('Appliances', 'IT', 'Esmeralda', 44);
            ''')

In [11]:
cur.execute('''SELECT * FROM employee;''').fetchall()

[('Supermarket', 'Finance', 1, 'Jane', 11),
 ('Supermarket', 'HR', 2, 'Lola', 12),
 ('Supermarket', 'Marketing', 3, 'John', 12),
 ('Supermarket', 'Operations', 4, 'Winston', 13),
 ('Supermarket', 'IT', 5, 'Sam', 14),
 ('Sporting Goods', 'Finance', 6, 'Dev', 20),
 ('Sporting Goods', 'HR', 7, 'Harsh', 21),
 ('Sporting Goods', 'Marketing', 8, 'Priyanka', 22),
 ('Sporting Goods', 'Operations', 9, 'Anjali', 23),
 ('Sporting Goods', 'IT', 10, 'Maneet', 24),
 ('Department Store', 'Finance', 11, 'Zhang', 30),
 ('Department Store', 'HR', 12, 'Lihua', 31),
 ('Department Store', 'Marketing', 13, 'Bohai', 30),
 ('Department Store', 'Operations', 14, 'Hanhan', 32),
 ('Department Store', 'IT', 15, 'Liwei', 33),
 ('Appliances', 'Finance', 16, 'Jose', 40),
 ('Appliances', 'HR', 17, 'Santiago', 41),
 ('Appliances', 'Marketing', 18, 'Carlos', 42),
 ('Appliances', 'Operations', 19, 'Manuel', 43),
 ('Appliances', 'IT', 20, 'Esmeralda', 44)]

In [12]:
conn.commit() #saving changes